<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Neoncave Arena</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Neoncave Arena</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSLocationAlwaysUsageDescription</key>
    <string>This app needs access to your location to provide location-based features, such as nearby tournament venues and matchmaking with players in your area, even when the app is in the background.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs access to your location to show nearby tournament venues and match players with others in your area while using the app.</string>
    <key>NSCameraUsageDescription</key>
    <string>This app requires access to your camera to allow users to capture photos and videos for profile updates, organization creation, tournament creation and streaming features.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app requires access to your photo library to allow users to upload images for profile updates, organization creation, and tournament creation.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to your microphone to enable audio streaming features, such as voice chat during tournaments and live commentary.</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleURLTypes</key>
    <array>
     <dict>
      <key>CFBundleURLSchemes</key>
    <array>
      <string>111111111111111</string>
    </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLSchemes</key>
    <array>
      <string>com.googleusercontent.apps.1111111111111-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</string>
    </array>
      </dict>
    </array>
	<key>FacebookAppID</key>
    <string>111111111111111</string>
    <key>FacebookClientToken</key>
    <string>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</string>
    <key>FacebookDisplayName</key>
	<string>Neoncave Arena</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
